<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom user-action ">
    <a href="/" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto  text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <h4 class="fs-4">Stylight</h4>
    </a>
    <ul class="nav nav-pills ">
        <li class="nav-item" routerLinkActive="active"><a routerLink="./home" class="nav-link text-dark">Home</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="./products" class="nav-link text-dark">Product</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="./todo" class="nav-link text-dark">Brand List</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="./survey" class="nav-link text-dark">Survey</a></li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="nav-link text-dark ">
                <i class="bi bi-box-arrow-left "></i>
            </a>
        </li>
    </ul>
</header>