<div class="container">
    <div class="card shadow text-center mb-5 todo-form">
        <div class="card-header head text-light">
            <h4>{{"Brands list" | uppercase}}</h4>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center field p-1">
                <input type="text" name="todo" class="form-control" placeholder="Type your todo..." (keyup.enter)="addTodo(todoText)" (keyup.esc)="cancel()" [(ngModel)]="todoText">
                <button class="btn" (click)="addTodo(todoText)"> ADD</button>
            </div>
        </div>
    </div>

    <div class="card shadow text-center mb-5 todo-form">
        <div class="card-header head text-light">
            <h4>{{"Fashion Brands" | uppercase}}</h4>
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let todo of activeTodos" class="d-flex">
                    <input type="checkbox" name="" [id]="todo.id" [(ngModel)]="todo.completed">
                    <span class="ms-2">{{todo.title}}</span>
                </li>
            </ul>
            <div *ngIf="!activeTodos.length">
                Nothing to show
            </div>


        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let todo of  completedTodos" class="d-flex completed-todo" [ngClass]="{'completed' : todo.completed } ">
                    <input type="checkbox" name=" " [id]="todo.id " [(ngModel)]="todo.completed ">
                    <span class="ms-2 ">{{todo.title}}</span>
                    <button class="btn">
                        <i class="bi bi-trash" (click)="removeItem(todo.id)"></i>
                    </button>
                </li>
            </ul>
            <div *ngIf="!completedTodos.length">
                Nothing to show
            </div>

        </div>
    </div>
</div>